<section class="home">
  <div class="menu">
    <ul>
      <li class="list"><%= link_to "(A)nnounce【 精華公佈欄 】", "#" %></li>
      <li class="list"><%= link_to "(F)avorite【 我的最愛 】", favorites_path %></li>
      <li class="list"><%= link_to "(B)oard【 討論區 】", boards_path %></li>
      <li class="list"><%= link_to "(M)ail【 私人信件區 】", "#" %></li>
      <li class="list"><%= link_to "(T)alk【 休閒聊天區 】", "#" %></li>
      <li class="list"><%= link_to "(U)ser【 個人設定區 】", "#" %></li>
      <li class="list"><%= link_to "(X)yz【 系統資訊區 】", "#" %></li>
      <li class="list"><%= link_to "(P)lay【 娛樂與休閒 】", "#" %></li>
      <li class="list"><%= link_to "(N)amelist【 編特別名單 】", "#" %></li>
    </ul>
  </div>
</section>