<% if board.errors.any? %>
  <ul>
  <% board.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(board) do |f| %>
  <div class="fields">
    <%= f.label :title, "看板名稱" %>
    <%= f.text_field :title %>
  </div>

  <div class="fields">
    <%= f.label :intro, "看板說明" %>
    <%= f.text_area :intro %>
  </div>

  <%= f.submit "送出" %>
<% end %>
