<h1>看板</h1>

<%= link_to "新增看版", new_board_path if policy(:board).create? %>

<ul>
  <% @boards.each do |board| %>
    <li>
      <%= link_to board.title, board_path(board) %>
      <%= link_to "編輯", edit_board_path(board) %>
      <%= link_to "刪除", board_path(board), method: 'delete',
                          data: { confirm: '確認刪除?' } %>
      <%= link_to "隱版", hide_board_path(board), method: 'put' %>
    </li>
  <% end %>
</ul>
<%= paginate @boards %>