<h1>新增看板</h1>

<%= form_for(@board) do |f| %>
  <%= f.label :title, "看板名稱" %>
  <%= f.text_field :title %>

  <%= f.label :intro, "看板說明" %>
  <%= f.text_area :intro %>

  <%= f.submit "送出" %>
<% end %>
