<h1 data-controller="heart" data-heart-board="<%= @board.id %>">
  看板 <%= @board.title %>
  <button data-action="click->heart#favorite">
    <% if @board.favorited_by?(current_user) %>
      <i class="fas fa-heart" data-target="heart.heart"></i>
    <% else %>
      <i class="far fa-heart" data-target="heart.heart"></i>
    <% end %>
  </button>
</h1>

<div>
  [版主：<%= display_bm(@board) %>]
</div>

<%= link_to "新增文章", new_board_post_path(@board) %>

<ul>
<% @posts.each do |post| %>
  <li data-controller="post" data-action="cat@window->post#something">
    <%= post.display_username %>
    <%= link_to post.title, post, data: { target: 'post.title' } %>
    <%= link_to "編輯", edit_post_path(post) %>
  </li>
<% end %>
</ul>