<ul>
  <li>
    <div>
      <span>作者</span>
      <span><%= @post.user.account %></span>
    </div>
    <div>
      <span>看板</span>
      <span><%= @post.board.title %></span>
    </div>
  </li>
  <li>
    <span>標題</span>
    <span><%= @post.title %></span>
  </li>
  <li>
    <span>時間</span>
    <span><%= @post.created_at %></span>
  </li>
</ul>
<hr>

<p><%= @post.content %></p>