<section class="post">
<ul class="header">
  <li>
    <div>
      <span>作者</span>
      <span><%= @post.user.account %></span>
    </div>
    <div>
      <span>看板</span>
      <span><%= @post.board.title %></span>
    </div>
  </li>
  <li>
    <span>標題</span>
    <span><%= @post.title %></span>
  </li>
  <li>
    <span>時間</span>
    <span><%= @post.created_at %></span>
  </li>
</ul>
<hr>

<p>
  <%= @post.content %>
  <br>
  <%= @post.hello %>
  <br>
  <%= image_tag @post.photo.variant(resize_to_limit: [500, 500]) if @post.photo.attached? %>
</p>

<%= form_with(model: @comment, url: post_comments_path(@post)) do |form| %>
 <%= form.text_field :content %>
 <%= form.submit "送出" %>
<% end %>
<hr>
<ul>
<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
</ul>
</section>