<!DOCTYPE html>
<html>
  <head>
    <title>PPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/frontend/navbar" %>
    <%= render "shared/common/flash" %>
    <%= yield %>
    <%= render "shared/frontend/footer" %>
  </body>
</html>
